<div class="card text-center m-4">
  <div class="card-body">
    <h1 class="card-title ">
      <a href = "/blogpost/{{id}}" class = "blogpost">{{title}}</a>
    </h1>
    <p class="card-text">{{post_content}}</p>
  </div>
  <div class="card-footer text-muted">
    Posted By: {{user.username}} || {{created_at}} || 
  </div>
</div>